a {
    text-decoration: none;
}

body {
    font-family: $fontMontserrat;
    margin: 0;
    color: $colorBlack;
    @include fontSize15px;
    line-height: 18px;
    font-weight: 500;
}

button {
    border: none;
    outline: none;
    font-family: $fontMontserrat;
    background: none;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}

.container {
    margin: 0 auto;
    max-width: 1420px;
    width: calc(100% - 70px);
}

fieldset {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
}

h1,  h2, h3, h4, h5, h6, p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input {
    border: none;
    font-family: $fontMontserrat;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}