.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__heading {
        position: relative;
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}