.hero {

    @media(min-width: $tablet) {
        background-image: url(../img/phone_hand_1-big.png);
        background-size: 451px 664px;
        background-repeat: no-repeat;
        background-position: calc(100% + 110px) calc(100% + 109px);
    }

    @media screen and (min-width: $desktop) {
        background-position: calc(100% + 61px) calc(100% + 129px);
        background-size: 602px 886px;
    }

    &__a {
        display: inline-block;
        border-radius: 5px;
        border: 1px solid $colorWhite;
        width: 100%;
        text-align: center;
        line-height: 38px;
        background-color: transparent;
        color: $colorWhite;
        font-weight: 600;
        margin-right: 0;
        margin-bottom: 10px;
        transition: 0.2s ease all;

        @media(min-width: $tablet) {
            width: 180px;
            margin-right: 26px;
        }

        &:hover {
            background-color: $colorWhite;
            color: $colorOrange;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 0 120px 0;

        @media(min-width: $tablet) {
            padding: 120px 0 306px 48px;
            max-width: 44.1%;
        }

        @media(min-width: $desktop) {
            padding: 150px 0 376px 48px;
        }
    }

    &__heading {
        color: $colorWhite;
        @include fontSize50px;
        line-height: 40px;
        padding-bottom: 15px;

        @media(min-width: $tablet) {
            line-height: 61px;
        }
    }

    &__p {
        line-height: 24px;
        @include fontSize16px;
        color: $colorWhite;
        padding-bottom: 33px;
    }

    &__picture {
        width: 100%;

        @media(min-width: $tablet) {
            width: initial;
            margin-left: 61px;
        }

        img {
            width: 100%;

            @media(min-width: $tablet) {
                width: initial;
            }
        }
    }
}