.section {
    background: linear-gradient(107.81deg, $colorBlue 9.97%, $colorPink 90.03%);
    padding: 35px 0 0 0;
    position: relative;
    overflow: hidden;

    &:after {
        position: absolute;
        // // width: 2472px;
        // width: 100%;
        // height: 397px;
        // // left: -276px;
        // left: 0;
        // bottom: -310px;
        background-image: url(/img/Intersect.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 1;
        width: 1920px;
        height: 547px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);        
        bottom: -469px;
        content: '';
    }

    &__arrows {
        position: absolute;
        bottom: 58px;
        left: calc(50% - 20px);
        z-index: 9;
        width: 40px;
        height: auto;
    }
}